.team-container {
  max-width: 128px;
  max-height: 128px;
}

.contain {
  width: 128px;
  height: 128px;
}

.p-2 {
  padding-left: 2em;
  padding-right: 2em;
}

.pt-border {
  border-bottom: 2px solid black;
}

.flex {
  display:flex;
}

.inline-block {
  display: inline-block;
}


