table {
  border-spacing: 0px;
}

th {
  width: 145px;
  border: 1px solid white;
}

td {
  width: 188px;
  border: 1px solid white;
  overflow-x: auto;
  text-align: center;
}

.pt-5 {
  padding-top: 5;
}

